# .gitignore

# Ignore node modules
node_modules/

# Ignore environment variables
.env

# Ignore logs
*.log

# Ignore the npm debug log
npm-debug.log*

# Ignore IDE specific files
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# Ignore build files
dist/

# Ignore test coverage reports
coverage/
